body{
    background-color: #6a2c70;
}
a{
    color:white;
}
h1{
    color: yellow;
    text-align: center;
    background: #1d1b38;
    padding: 20px;
}
p{
    color: white;
}
img{
    width: 200px;
    padding: 20px;
    margin: 20px;
}
ul{
    list-style-type: none;
    background: #222831;
}
li{
    display: inline;
    padding: 5px;
    font: bold 14px ;

}
#about{
    float: right;
}
h2{
    color: yellow;
    padding: 20px;
}
ol{
   color: white;
   padding: 0px;
}